.progress-circle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  background: rgb(47, 47, 47);

  background-image:
    -webkit-linear-gradient(90deg, rgb(47, 47, 47) 50%, transparent 50%),
    -webkit-linear-gradient(270deg, var(--promethei-color-primary) 50%, rgb
          (47, 47, 47) 50%);
  background-image: linear-gradient(90deg, rgb(47, 47, 47) 50%, transparent 50%),
    linear-gradient(270deg, var(--promethei-color-primary) 50%, rgb(47, 47, 47) 50%);

  div {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: auto;
    background: rgb(35, 35, 35);
    text-align: center;
    box-sizing: border-box;
  }
}
