.folder-button {
  > div {
    position: absolute;
    transform: translate(310px, -200px);
    opacity: 0;
    transition: opacity 0.15s;
    background-color: rgba(47, 47, 47, 1);
    padding: 0.5rem;
    border-radius: 8px;
    width: 150px;
    right: -40px;
    border: 1px solid rgba(150, 150, 150, 0.2);
    z-index: -1;

    &[aria-expanded] {
      z-index: 12;
      transform: translate(-110px, -200px);
      opacity: 1;
    }

    > div {
      padding: 0.75rem;
      transition: background-color 0.35s;
      cursor: pointer;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: rgba(150, 150, 150, 0.1);
      }
    }

    svg {
      color: var(--promethei-color-primary);
    }
  }
}
