.request-review {
  > header {
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    padding-bottom: 16px;

    div {
      line-height: 8px;
    }
  }

  .presets {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    @media screen and (max-width: 801px) {
      & {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    > div {
      height: 74px;
      position: relative;
    }

    > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      span {
        display: block;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }

      small {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.011em;
        color: rgba(150, 150, 150, 0.8);
      }
    }

    > div:nth-child(n + 2) {
      --promethei-preset-border-color: rgb(73, 73, 73);
      --promethei-preset-color: rgba(150, 150, 150, 1);
      border: 1px solid var(--promethei-preset-border-color);
      border-radius: 12px;
      padding: 16px;
      flex: 1;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      transition: 0.35s box-shadow;

      @media screen and (max-width: 801px) {
        & {
          width: 100%;
        }
      }

      &:hover {
        box-shadow: 0 0 0 2px var(--promethei-preset-border-color);
      }

      &[aria-selected] {
        --promethei-preset-border-color: var(--promethei-color-primary);
        --promethei-preset-color: var(--promethei-color-primary);
      }

      svg {
        position: absolute;
        right: -16px;
        top: -7px;
        color: var(--promethei-preset-color);
      }

      span {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: var(--promethei-preset-color);

        + span {
          background: var(--promethei-color-primary) 33;
          padding: 2px 8px;
          font-family: Inter;
          font-size: 11px;
          font-weight: 500;
          line-height: 12px;
          letter-spacing: 0.02em;
          color: var(--promethei-color-primary);
          border-radius: 16px;
          margin-left: 4px;
        }
      }
    }
  }

  .row {
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    gap: 8px;
  }

  .grid {
    display: grid;
    gap: 16px;

    @media (max-width: 800px) {
      & {
        grid-template-columns: 1fr;
      }
    }

    @media (min-width: 801px) {
      & {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  footer {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    @media screen and (max-width: 801px) {
      & {
        flex-direction: column;
      }
    }

    > * {
      flex: 1;
    }
  }
}
