.availability-form {
  input {
    width: 100%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.015em;
    width: 100%;
  }

  option {
    background-color: rgb(35, 35, 35);
  }

  header {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .row {
    margin-bottom: 16px;

    @media screen and (max-width: 800px) {
      & {
        flex-direction: column;
      }
    }
  }

  .group {
    position: relative;
    flex: 1;
    margin-top: 16px;

    &[aria-invalid] {
      .input-group > div > div > div:nth-child(2) {
        border-color: var(-promethei-color-error);
      }

      label,
      svg,
      select {
        color: var(-promethei-color-error);
      }
    }
  }

  .tooltip {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .input-group p {
    max-width: inherit;
    position: relative;

    a {
      cursor: pointer;
      color: var(--promethei-color-primary);
      top: 4px;
      right: 4px;
      position: absolute;
    }
  }

  select {
    min-width: min-content;
  }
}
