.help {
  max-width: 600px;
  margin: auto;

  h1 {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  > div {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    gap: 1rem;
    display: flex;
    align-items: flex-start;

    div {
      font-size: 1.125rem;
    }
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  p {
    color: rgb(150 150 150);
  }

  svg {
    color: rgb(113, 113, 113);
    min-width: 1.5rem;
    height: auto;
  }

  a {
    color: var(--promethei-color-primary);
    text-decoration: underline;
  }
}
